<%= form_for Task.new do |f| %>
  <div class='row'>
      <div class='form-group col-md-4'>
      <%= f.text_field :title, class: 'form-control' %>
      <%= f.submit "Save", class: 'btn btn-success' %>
      </div>
  </div>
<% end %>